.pagging {
	height: 20px;
	padding: 8px 10px;
	line-height: 19px;
	color: #949494;
}

.pagging a {
	cursor: hand;
	height: 20px;
	float: left;
	padding: 0 8px;
	border: solid 1px #d5d5d5;
	text-decoration: none;
	color: #949494;
	margin-left: 5px;
}

.pagging a:hover {
	border-color: #8c3521;
	background: #ba4c32;
	color: #fff;
}

.pagging span {
	float: left;
	margin-left: 5px;
	padding-top: 2px;
}